[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
pytest = "*"
pytest-asyncio = "*"
flake8 = "*"

[packages]
aiosqlite = "*"
xmltodict = "*"
terminaltables = "*"
prompt-toolkit = "*"
imgcat = "*"
pyyaml = "*"
quart = "*"
pyppeteer2 = "*"
